.venv/
.local/
.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

staticfiles/
.idea/
.vscode/
.DS_Store
Thumbs.db
